<!DOCTYPE html>
<html>
    <head>
        <title>PinkBeauty</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kalam|Kaushan+Script|Raleway:400,600|Open Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/auth.css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4 title-font-med">
          <a class="navbar-brand" href="/"><i class="heart outline icon"></i>PinkBeauty</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                <a class="nav-link" href="/campgrounds">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-2">
                <form class="form-inline mt-2 mt-md-0" action="/campgrounds" method="GET">
                        <input type="text" class="form-control mr-sm-2" style="height: 80%" name="search" placeholder="Conversations Search...">
                        <input type="submit" class="btn btn-outline-light btn-sm mr-4 my-2 my-sm-0" value="Search">
                </form>
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                        <a class="nav-link" href="/login"><i class="user outline icon"></i>Login</a>
                    </li>
                    <li class="nave-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                        <a class="nav-link" href="/register"><i class="plus icon"></i>Sign Up</a>
                    </li>  
                    <% } else { %>
                        <li class="nave-item"><a class="nav-link" href="/users/<%= currentUser._id %>"><i class="user circle outline icon"></i>Hello! <%= currentUser.username %></a></li>
                        <li class="nave-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
            </ul>
          </div>
        </nav>
    
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>