<% include ../partials/header%>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 class="title-font-med display-4">Welcome To PinkBeauty!</h1>
            <p class="lead title-font-med">Find your beauty inspiration and get recommendation from other beauties like you.</p>
            <p class="lead title-font-med">You Ready?</p>
            <p>
                <a class="ui inverted standard button title-font-med" role="button" href="/pinkbeauty/new">Start a conversation</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% if(noMatch !== undefined){ %>
            <div class="col-md-12">
                <img class="rounded" style="width:15%;" src="https://telegramguides.com/wp-content/uploads/2018/04/pusheen-cat-telegram-sticker-14.png">
                <h1><%= noMatch %></h1>
            </div>
        <% } %>
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="overlay">
                        <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                        <div class="after">
                            <div class="text">
                                <% if((campground.description).length < 150){ %>
                                    <%= campground.description %>
                                <% } else { %>
                                    <%= campground.description.substr(0, 150) %>...
                                <% } %>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <% if((campground.name).length < 27){ %>
                            <h5 class="card-title beauty_title"><%= campground.name %></h5>
                        <% } else { %>
                            <h5 class="card-title beauty_title"><%= campground.name.substr(0, 27) %>...</h5>
                        <% } %>
                        <a href="/pinkbeauty/<%= campground._id %>" class="btn btn-dark btn-sm"><i class="star outline icon"></i>More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer%>