<% include ../partials/header %>
<div class="contianer">
    <div class="contianer" style="margin-left: 125px">
        <h1><%= user.firstName %> <%= user.lastName %>'s Profile</h1>    
    </div>
    <div class="contianer" style="margin: auto 80px">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 80%; margin: auto, 2px">
                    <img src="<%= user.avatar %>" alt="Avatar" class="avatar">
                    <div class="card-text text-center">Email: <%= user.email %></div>
                    <div class="card-header mt-5">
                        <Strong>Campgrounds</Strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% campground.forEach(function(campground){ %>
                            <a href="/campgrounds/<%= campground._id %>"><li class="list-group-item"><%= campground.name %></li></a>
                        <% }); %>
                    </ul>
                </div>
            </div>
            
            
            <div class="col-md-8">
                <div class="card"  style="width: 90%;">
                    <div class="card-header">
                        <h3 class="card-title ml-2"><%= user.username %></h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr scope="row">
                                    <td>First Name</td>
                                    <td><%= user.firstName %></td>
                                </tr>
                                <tr scope="row">
                                    <td>Last Name</td>
                                    <td><%= user.lastName %></td>                                
                                </tr>
                                <tr scope="row">
                                    <td>Gender</td> 
                                    <td>Female</td>
                                </tr>
                                <tr scope="row">
                                    <td>Email</td>
                                    <td><%= user.email %></td>
                                </tr>
                                <tr scope="row">
                                    <td>Hobby</td>
                                    <td>Camping</td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>





<% include ../partials/footer %>