<% include ../partials/profile_header %>
<style>
    
</style>
<div class="contianer mt-5">
    <div class="contianer" style="margin-left: 125px">
        <h1><%= user.firstName.toUpperCase() %> <%= user.lastName.toUpperCase() %>'s Profile</h1>    
    </div>
    <div class="contianer" style="margin: auto 80px">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 80%; margin: auto, 2px">
                    <img src="<%= user.avatar %>" alt="Avatar" class="avatar">
                    <div class="card-text text-center"><i class="envelope outline icon"></i>Email: <%= user.email %></div>
                    <div class="card-header mt-5">
                        <Strong>Posts</Strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        <% if(campground.length > 0){ %>
                            <% campground.forEach(function(campground){ %>
                                <a href="/campgrounds/<%= campground._id %>"><li class="list-group-item"><%= campground.name %></li></a>
                            <% }); %>
                        <% } else { %>
                            <li class="list-group-item">
                                You have not create any post yet. Let's <a class="resetPw" href="/campgrounds/new">create one!</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            
            
            <div class="col-md-8">
                <div class="card"  style="width: 90%;">
                    <div class="card-header">
                        <h3 class="card-title ml-2"><%= user.username %></h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr scope="row">
                                    <td>First Name</td>
                                    <td><%= user.firstName %></td>
                                </tr>
                                <tr scope="row">
                                    <td>Last Name</td>
                                    <td><%= user.lastName %></td>                                
                                </tr>
                                <tr scope="row">
                                    <td>Gender</td> 
                                    <td><%= user.gender %></td>
                                </tr>
                                <tr scope="row">
                                    <td>Email</td>
                                    <td><%= user.email %></td>
                                </tr>
                                <tr scope="row">
                                    <td>Hobbies</td>
                                    <td><%= user.hobby %></td>
                                </tr>
                            </tbody>
                        </table>
                        <% if(currentUser && currentUser._id.equals(user._id)){ %>
                            <a href="/users/<%= user._id %>/edit"><button>Edit</button></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </body>
</html>